*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
}

header figure {
    height: 100%;
}

header figure img {
    height: 90px;
}

header nav {
    text-align: center;
    padding: 10px;
}

header nav a {
    margin-right: 7px;
    color: whitesmoke;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
}

header h1 {
    color: white;
    text-align: center;
}

header {
    height: 12vh;
    background-color: blue;
    display: flex;
    justify-content: space-between;

}

main {
    height: 80vh;
}

footer {
    height: 10vh;
    background-color: grey;
}