*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

header figure img {
    display: none;
}

header nav {
    display: flex;
    flex-direction: column;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-top: 10px;
    text-decoration: none;
}

header nav a:hover {
    text-decoration: underline;
    background-color: rgb(122, 121, 121);
    border-radius: 10px;
    padding: 5px;
}

header button {
    margin: 5px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgb(255, 255, 255);
}

header button:hover {
    background-color: rgb(97, 97, 245);
    color: white;
}

main section.lateral {
    margin: 20px;
    background-color: rgb(197, 197, 197);
    padding: 10px;
    border-radius: 10px;
}

main section.lateral h2 {
    color: rgb(97, 97, 245);
}

main section.lateral nav a {
    display: block;
    margin: 10px 0;
    padding: 5px;
    text-decoration: none;
    color: black;
    border-bottom: 1px solid black;
}

main section nav a:hover {
    background-color: rgb(150, 150, 150);
    border-radius: 5px;
}

main section.principal {
    margin: 20px;
    padding: 10px;
    border-left: 1px solid black;
    border-right: 1px solid black;
}

main section.principal h1 {
    color: rgb(97, 97, 245);
    padding-bottom: 10px;
}

main section.principal h3 {
    padding-bottom: 20px;
}

main section.principal li {
    margin-left: 45px;
}

main section.adicional {
    margin: 20px;
    background-color: rgb(0, 179, 255);
    padding: 10px;
    border-radius: 10px;
}

main section.adicional h2 {
    color: white;
    padding-bottom: 10px;
}

main section.adicional p {
    color: white;
    text-align: justify;
}

main section.adicional li {
    color: white;
    margin-left: 45px;
}

footer {
    background-color: rgb(11, 0, 51);
    color: white;
    text-align: center;
    padding: 10px;
    width: 100%;
}

footer h3 {
    margin-bottom: 10px;
}

footer nav {
    margin: 6px;
}

footer a {
    color: white;
    text-decoration: none;
    margin: 20px;
    padding: 10px;
    background-color: black;
}

footer a:hover {
    background-color: rgb(97, 97, 245);
}