header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

header nav {
    flex-direction: row;
    gap: 20px;
}

header nav a {
    border-radius: 5px;
}

main {
    margin-top: 10px;
    font-size: x-small;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
}

main section.lateral {
    flex: 1;
    flex-direction: column;
    height: 50vh;
}

main section.padre {
    height: fit-content;
    flex-direction: column;
}


footer {
    display: flex;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
}
 