* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    height: 100vh;
    background-color: rgb(208, 208, 207);
}

header {
    flex-basis: 5%;
    background-color: black;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
}

header div#menu {
    color: white;
    flex-basis: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

header #menu i {
    color: white;
    font-size: 20px;
}

header figure {
    color: white;
    flex-basis: 20%;
}

header figure img {
    width: 20vh;
}

header form {
    flex-basis: 5%;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    padding: 10px;
}

header form input {
    border-radius: 25px;
    padding: 7px;
    color: grey;
    background-color: burlywood;
}

header nav {
    color: white;
    flex-basis: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

header nav a:hover {
    color: rgb(31, 235, 31);
}

header nav a {
    width: 15vh;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-decoration: none;
    color: white;
    justify-content: space-around;
    align-items: center;
    transition: color 0.25s ease, transform 0.25s ease;
}

header form {
    flex-basis: 20%;
}

main  {
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 20px;
    gap: 20px;
    background-color: white;
}


main .contenido1 {
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;    
}


main .contenido1 h2 {
    display: flex;
    color: white;
    position: absolute;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    border-radius: 10px;
    width: 10%;
    height: 5vh;
    background-color: rgb(255, 73, 255);
    right: 100px;
    left: 200px;
    top: 400px;
}

main .contenido2 {
    height: 100%;
    flex-basis: 50%;
    align-items: self-start;
    flex-direction: column;
    gap: 20px;
}

main .nombre h2 {
    color: black;
    font-size: xx-large;
    text-align: left;
    font-style: bold;
}

main .opiniones {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: start;
    gap: 10px;
    font-size: small;
    color: gold;
}

main .valoracion-texto {
    color: grey;
}

main .precio {
    display: flex;
    flex-direction: row;
    color: black;
    font-size: x-large;
    font-weight: bold;
    gap: 30px;
    padding: 15px;
}

main .precio .descuento {
    color: white;
    font-size: large;
    background-color: palevioletred;
    border-radius: 18px;
    padding: 5px;
    text-align: center;
}

main .precio-original {
    display: flex;
    flex-direction: column;
    color: rgb(91, 91, 91);
}

main .precio-original p span {
    text-decoration: line-through;
    color: rgb(0, 0, 0);
    margin-left: 10px;
}

main .disponibilidad {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    align-items: center;
    padding: 10px;
    margin: 10px;
    background-color: rgb(194, 194, 194);
    border-radius: 20px;
}

main .disponibilidad i {
    display: flex;
    justify-content: center;
    color: white;
    font-size: 25px;
    margin: 10px;
    padding: 40px;
    background-color: rgb(255, 73, 255);
    border-radius: 50%;
}

main .disponibilidad .elementos {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

main .recogida {
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    color: greenyellow;
}

main .ofertas {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: black;
    color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    gap: 10px;
    font-weight: bold;
}

main .ofertas button {
    background-color: white;
    border: none;
    border-radius: 20px;
    padding: 10px;
    cursor: pointer;
    font-weight: bold;
}

main .botones-compra {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin: 10px;
}

main .botones-compra button {
    padding: 15px;
    border: none;
    border-radius: 10px;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

main .img1 {
    width: 100%;
    margin: auto;
}

main .img2 {
    display: flex;
    position: absolute;
    width: 50%;
    margin-top: 10px;
}

main .galeria {
    height: 86%;
    flex-basis: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    padding: 15px;
    border-radius: 8px;
    background-color: #f9f9f9;
}

header #carrito {
    color: white;
    flex-basis: 10%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    background-color: black;
}

footer nav#logo a {
    text-decoration: none;
    color: greenyellow;
    display: inline-block;
    transition: transform 0.25s ease, color 0.25s ease;
}

footer nav#logo {
    flex-basis: 50%;
    font-size: x-large;
    color: greenyellow;
    padding-left: 20px;
    padding-top: 20px;
}

footer nav#logo a:hover {
    transform: translate(0px, -10px);
}

footer #seccion1 {
    flex-basis: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

footer #seccion1 div {
    flex-basis: 50%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 15px;
}

footer #seccion1 div input {
    flex-basis: 50%;
    margin-top: 10px;
    border-radius: 20px;
    padding: 10px;
    color: grey;
    background-color: burlywood;
}

footer #seccion1 div h1 {
    flex-basis: 30%;
    width: 10%;
    color: white;
    font-size: medium;
    margin-top: 10px;
    margin-right: 20px;
    text-align: right;
}

footer #seccion2 {
    flex-basis: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

footer #seccion2 article {
    flex-basis: 30%;
    width: 40vh;
    margin-top: 20px;
    color: white;
    padding: 20px;
    background-color: rgb(55, 55, 55);
}

footer #seccion2 article a:hover {
    color: rgb(31, 235, 31);
}

footer #seccion2 article nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

footer #seccion2 nav a {
    flex-basis: 30%;
    padding: 10px;
    display: flex;
    flex-direction: row;
    text-decoration: none;
    color: white;
    gap: 10px;
}

footer section nav h2 {
    flex-basis: 30%;
    font-size: larger;
}



main .galeria-imagenes {
    height: auto;
    flex-basis: 10%;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 15px;
    border-radius: 8px;
    background-color: white;
}

main .galeria-imagenes .imagen-principal img:hover {
    transform: scale(1.05);
}

main .galeria-imagenes .miniaturas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
}

main .galeria-imagenes .miniatura {
    width: 100%;
    height: 70px;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.3s ease;
    object-fit: contain;
    padding: 5px;
}

main .galeria-imagenes .miniatura:hover {
    transform: scale(1.05);
}

